*{
  box-sizing: border-box;
}

html{
  font-family: 'Source Sans Pro', sans-serif;

}

Body{
  background-color: white;
}

h1, h2, h3, h5{
  font-family: 'Playfair Display', serif;

}

/* header{ OLD
  background-color: white;
  display: flex;
  position: fixed;
  justify-content: center;
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: +2;
} */

header {
  display: flex;
  position: fixed;
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: +2;
  background-color: white;
  padding: 0px 80px;
}

header >.navbar-list{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex: 1 1;
  max-width: 80%;
}

.navbar-list a{
  margin: 0 5px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.newsPaperLogo {
  display: flex;
}

 /*newspaper title*/
h1{
  justify-content: flex-start;
}

/*sidebar headlines*/
h2{
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  padding-left: 10px;
  padding-top: 20px;
}

h2:after{
  position: absolute;
  content: "";
  height: 4px;
  background-color: blue;
  width: auto;
  top: 50%;
}

/*article titles*/
h3{
  font-size: 16px;
  font-weight: normal;
  margin: 0 0 10px 0;
  font-weight: 700;
  /* font-style: italic; */
  letter-spacing: 0.5px;
}

/*article titles side bar*/
h4{
  font-size: 13px;
  padding: 0px;
  margin: 0px;
}

/*source name*/
h5{
  margin: 0;
  opacity: 0.4;
}

/*published at*/
h6{
  margin: 0 0 5px 0;
  font-size: 10px;
  text-align: left;
  font-style: italic;
  opacity: 0.4;
}

.latestNewsSideBar h6{
  margin: 10px 0 0 0;
}

.popularNewsSideBar h6{
  margin: 10px 0 0 0;
}


/*description*/
span{
  /* text-align: justify; */
  font-size: 14px;
  line-height: 1.6;
  margin: 0 0 10px 0;
}

a{
  text-decoration: none;
}

a:link {
  color: #122C34;
}

a:visited {
  color: #122C34;
}

/* a:hover {
  background: yellow;
  font-weight: 900;
  color: #000000;
} */

.allNewsContainer{
  margin-top: 80px;
  display: flex;
  position: relative;
  margin-left: 80px;
  margin-right: 80px;
  padding-bottom: 20px;
}

.mainNews{
  width: 70%;
}

/* ----------HEAD NEWS BOX---------- */

.headnews{
  display: flex;
  flex-flow: row wrap;
}

.headnews-news{
  width: 100%;
  height: auto;
  background-color: white;
  padding: 5px 5px 5px 5px;
  position: relative;
}

.headnews-news img{
  width: 100%;
  max-height: 370px;
  min-height: 190px;
  object-fit: cover;
}

.headnews-news h3{
  z-index: +1;
  position: absolute;
  bottom: 30px;
  left: 16px;
  width: auto;
  margin-right: 30px;
  padding: 10px;
  background-color: #ffffffc5;
  color: black;
}


/* ----------NEWS BOX---------- */

.newsBox{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.newsBox-news {
  width: 100%;
  background-color: white;
  margin: 10px 5px 10px 5px;
  padding: 5px 5px 5px 5px;
}

.newsBox-news:hover{
 opacity: 0.8;
}

.newsBox-news img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}



/* ----------TOGGLE FUNCTION OF DESCRIPTION IN NEWS BOX ---------- */

.description-readmore {
  display: none;
  margin-bottom: 5px;
}

.preview-description {
  display: none;
}

.readmoreButton{
  border: none;
  height: 32px;
  font-size: 12px;
  text-align: center;
  margin-top: 16px;
  outline:none;
  cursor: pointer;
  width: 100%;
}

.readmoreButton .fa-angle-up {
  display: none;
}

.buttonExpanded {
}

.buttonExpanded .fa-angle-up {
  display: block;
}

.buttonExpanded .fa-angle-down {
  display: none;
}

/* ----------SIDE BAR---------- */

.sidebarContainer{
  width: 30%;
  margin-left: 1%;
}

/* ----------LATEST NEWS SIDE BAR BOX---------- */

.latestNewsSideBar{
  height: auto;
  right: 0;
  top: 0;
  padding-bottom: 10px;
  border-left: 2px solid #A1CAB9;
  position: relative;

}

.latestNewsSideBar-news {
  width: auto;
  padding: 0 0 0 0;
  margin-left: 10px;
  margin-right: 10px;
}

.latestNewsSideBar-news:hover {
  text-decoration: underline;
}

.latestNewsSideBar-news h3{
  font-size: 14px;

}


/* ----------POPULAR NEWS SIDE BAR BOX---------- */

.popularNewsSideBar{
  height: auto;
  right: 0;
  top: 0;
  padding-bottom: 10px;
  border-left: 2px solid pink;
  position: relative;
}

.popularNewsSideBar-news {
  width: auto;
  padding: 0 0 0 0;
  margin-left: 10px;
  margin-right: 10px;
}

/* ----------FOOTER---------- */


footer{
  height: 10px;
  clear: both;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 1px solid black;
  position: absolute;
}
.footer-links{
  height: 80px;
  text-align: center;
  padding-top: 25px;
  display: flex;
  justify-content: space-around;
}


/* DESKTOP media= (601px -> )*/
@media only screen and (min-width: 901px) {
  .newsBox-news{
    width: calc(33.33% - 10px);
  }
}

/* Tablet Breakpoint (601px -> 900px) */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .newsBox-news{
    width: calc(50% - 10px);
  }
}

/* MOBILE -- Breakpoint (0 -> 600px) */
@media only screen and (max-width: 600px){
  .newsBox-news{
    width: calc(100% - 10px);
  }
}

/* -------------TOGGLE DESCRIPTION NEWS BOX------------- */

.visible {
  display: block;
}

button:hover {
  background-color: #909090;
}
