*{
  box-sizing: border-box;
}

/* MOBILE FIRST -- Breakpoint (0 -> 600px) */

html{
  font-family: 'Source Sans Pro', sans-serif;
}

Body{
  background-color: #000;
  margin: 0;
  padding: 0;
}

/*sidebar headlines, article titles, source name*/
h2, h3{
  font-family: 'Playfair Display', serif;
  color: #D6D5D7;
}

/*sidebar headlines*/
h2{
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  padding-left: 10px;
  padding-top: 20px;
}

h2:after{
  position: absolute;
  content: "";
  height: 4px;
  background-color: blue;
  width: auto;
  top: 50%;
}

/*article titles*/
h3{
  font-size: 16px;
  font-weight: normal;
  margin: 0 0 10px 0;
  font-weight: 700;
  letter-spacing: 0.5px;
}

/*article titles side bar*/
h4{
  font-size: 13px;
  padding: 0px;
  margin: 0px;
}

/*source name*/
h5{
  margin: 0;
  opacity: 0.8;
  color: #D6D5D7;
}

/*published at*/
h6{
  margin: 0 0 5px 0;
  font-size: 10px;
  text-align: left;
  font-style: italic;
  opacity: 0.8;
  color: #D6D5D7;
}

/* ---------- HEADER ---------- */

header {
  display: flex;
  position: fixed;
  height: 120px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: #000;
  padding: 0px 80px;
  border-bottom: 1px solid #D6D5D7;
  z-index: 2;
}

.navbar-list {
  font-size: 20px;
  display: none;
  color: #D6D5D7;
  z-index: 4;
}

.link-item{
  font-family: 'Playfair Display', serif;
}

.link-item a:visited{
    color: #D6D5D7;
}

.newsPaperLogo {
  display: flex;
  justify-content: flex-start;
  z-index: 4;
  align-items: flex-end;
  padding-bottom: 10px;
}

.mobileLogo{
  display: block;
}

.deskLogo{
  display: none;
}

.latestNewsSideBar h6{
  margin: 10px 0 0 0;
}

.popularNewsSideBar h6{
  margin: 10px 0 0 0;
}

/*description*/
span{
  /* text-align: justify; */
  font-size: 14px;
  line-height: 1.6;
  margin: 0 0 10px 0;
  color: #D6D5D7;
}

a{
  text-decoration: none;
}

.sidebarContainer a:link, a:visited{
    color: #D6D5D7;
}

.allNewsContainer{
  margin-top: 140px;
  display: flex;
  flex-flow: column;
  position: relative;
  padding-bottom: 20px;
}

.mainNews{
  width: 100%;
}

/* ---------- ARTICLE COUNT---------- */

.articleCount {
  opacity: 0.6;
  color: #D6D5D7;}

/* ----------HEAD NEWS BOX---------- */

.headnews{
  display: flex;
  flex-flow: row wrap;
}

.headnews-news{
  width: 100%;
  height: auto;
  background-color: #000;
  color: #D6D5D7;
  padding: 5px 5px 5px 5px;
  position: relative;
}

.headnews-news img{
  width: 100%;
  max-height: 370px;
  min-height: 190px;
  object-fit: cover;
}

.headnews-news h3{
  z-index: +1;
  position: absolute;
  bottom: 30px;
  left: 16px;
  width: auto;
  margin-right: 30px;
  padding: 10px;
  background-color: #000;
}


/* ----------NEWS BOX---------- */

.newsBox{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.newsBox-news {
  width: calc(100% - 10px);
  background-color: #000;
  margin: 10px 5px 10px 5px;
  padding: 5px 5px 5px 5px;
}

.newsBox-news:hover{
 opacity: 0.8;
}

.readFullArticle{
  color: blue;
}

.newsBox-news img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.image-newsBox {
  background-image: url("newspaper.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
}

/* ----------TOGGLE FUNCTION OF DESCRIPTION IN NEWS BOX ---------- */

.description-readmore {
  display: none;
  margin-bottom: 5px;
}

.preview-description {
  display: none;
}

.readmoreButton{
  border: none;
  height: 32px;
  font-size: 12px;
  text-align: center;
  margin-top: 16px;
  outline:none;
  cursor: pointer;
  width: 100%;
}

.readmoreButton .fa-angle-up {
  display: none;
}

.buttonExpanded {
}

.buttonExpanded .fa-angle-up {
  display: block;
}

.buttonExpanded .fa-angle-down {
  display: none;
}

/* ----------SIDE BAR---------- */

.sidebarContainer{
  width: 100%;
  flex-flow: row wrap;
  align-items: flex-end;
}

/* ----------LATEST NEWS SIDE BAR BOX---------- */

.latestNewsSideBar{
  height: auto;
  right: 0;
  top: 0;
  padding-bottom: 10px;
  border-left: 2px solid #A1CAB9;
  position: relative;

}

.latestNewsSideBar-news {
  width: auto;
  padding: 0 0 0 0;
  margin-left: 10px;
  margin-right: 10px;
}

.latestNewsSideBar-news:hover {
  text-decoration: underline;
}

.latestNewsSideBar-news h3{
  font-size: 14px;

}


/* ----------POPULAR NEWS SIDE BAR BOX---------- */

.popularNewsSideBar{
  height: auto;
  right: 0;
  top: 0;
  padding-bottom: 10px;
  border-left: 2px solid pink;
  position: relative;
}

.popularNewsSideBar-news {
  width: auto;
  padding: 0 0 0 0;
  margin-left: 10px;
  margin-right: 10px;
}

/* ----------FOOTER---------- */

footer{
  height: 10px;
  clear: both;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 1px solid  #D6D5D7;
  position: absolute;
}
.footer-links{
  height: 80px;
  text-align: center;
  padding-top: 25px;
  display: flex;
  justify-content: space-around;
}

/* ________________________________________________________________________________ */

/* DESKTOP media= (601px -> )*/
@media only screen and (min-width: 901px) {

  header {
    display: flex;
    position: fixed;
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: +2;
    background-color: #000;
    padding: 0px 80px;
  }

  header >.navbar-list{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex: 1 1;
    max-width: 80%;
  }

  .navbar-list a{
    margin: 0 5px;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .mobileLogo{
    display: none;
  }

  .deskLogo{
    display: block;
  }

   /*newspaper title*/
  h1{
    justify-content: flex-start;
  }

  .allNewsContainer{
    display: flex;
    flex-flow: row;
    position: relative;
    margin-left: 80px;
    margin-right: 80px;
    padding-bottom: 20px;
    margin-top: 110px;

  }
  .mainNews{
    width: 70%;
  }
  .sidebarContainer{
    width: 30%;
    margin-left: 1%;
  }

  .newsBox-news{
    width: calc(33.33% - 10px);
  }
}

/* Tablet Breakpoint (601px -> 900px) */
@media only screen and (min-width: 601px) and (max-width: 900px) {

  header {
    display: flex;
    position: fixed;
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: +2;
    background-color: #000;
    padding: 0px 80px;
  }

  .mobileLogo{
    display: block;
  }

  .deskLogo{
    display: none;
  }

   /*newspaper title*/
  h1{
    justify-content: flex-start;
    align-items: flex-start;
  }

  .navbar-list{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .navbar-list a{
    margin: 0 5px;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .allNewsContainer{
    flex-flow: row;
    position: relative;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 110px;

  }

  .mainNews{
    width: 70%;
  }

  .sidebarContainer{
    width: 30%;
    margin-left: 1%;
  }

  .newsBox-news{
    width: calc(50% - 10px);
  }
}


@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.clouds{
    background:transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top center;
    z-index:3;

  -moz-animation:move-clouds-back 200s linear infinite;
  -ms-animation:move-clouds-back 200s linear infinite;
  -o-animation:move-clouds-back 200s linear infinite;
  -webkit-animation:move-clouds-back 200s linear infinite;
  animation:move-clouds-back 200s linear infinite;
}

/* -------------TOGGLE DESCRIPTION NEWS BOX------------- */

.visible {
  display: block;
}

button:hover {
  background-color: #909090;
}
